name: Branch Policy

on:
  pull_request:
    branches:
      - master

jobs:
  enforce-dev-only:
    runs-on: ubuntu-latest
    if: github.base_ref == 'master'
    steps:
      - name: Check source branch
        if: github.head_ref != 'dev'
        run: |
          echo "---------------------------------------------------------------------"
          echo "HEAD REF: ${{ github.head_ref }}"
          echo "BASE REF: ${{ github.base_ref }}"
          echo "REFS/HEAD: ${{ github.ref }}"
          echo "---------------------------------------------------------------------"
          echo "Error: Pull requests to master must come from the 'dev' branch."
          echo "Current source branch: ${{ github.head_ref }}"
          echo "---------------------------------------------------------------------"
          exit 1
